{
  "plugins": [
    "transform-decorators-legacy",
    "syntax-class-properties",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    "stage-1",
    "es2015",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
